In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Data//baseball-data-final.csv')

In [3]:
df.head()

,playerID,nameFirst,nameLast,bats,throws,walks,hits,ab,singles,doubles,...,errors,as_games,mvp,gg,ws_wins,ws_losses,gp,mfp,firstyear,inducted
0,hendeda01,Dave,Henderson,R,R,465,1324,5130,824,286,...,55,1.0,NaN,NaN,1.0,3.0,1538,CF,2000,0
1,wittmi01,Mike,Witt,R,R,0,0,0,0,0,...,23,0.0,NaN,NaN,NaN,NaN,341,PITCHER,1999,0
2,parrila01,Larry,Parrish,R,R,529,1789,6792,1140,360,...,195,2.0,NaN,NaN,NaN,NaN,1891,3B,1994,0
3,hillejo01,John,Hiller,R,L,3,11,101,10,1,...,8,0.0,0.0,0.0,1.0,NaN,546,PITCHER,1986,0
4,howelro02,Roy,Howell,L,R,318,991,3791,697,183,...,141,1.0,NaN,NaN,NaN,1.0,1112,3B,1990,0

In [4]:
df2 = df

In [5]:
df2["OBP"] = (df2["hits"]+df2["walks"]+df2["hbp"])/(df2["ab"]+df2["walks"]+df2["hbp"]+df2["sacf"])

In [6]:
df2.head()

,playerID,nameFirst,nameLast,bats,throws,walks,hits,ab,singles,doubles,...,as_games,mvp,gg,ws_wins,ws_losses,gp,mfp,firstyear,inducted,OBP
0,hendeda01,Dave,Henderson,R,R,465,1324,5130,824,286,...,1.0,NaN,NaN,1.0,3.0,1538,CF,2000,0,0.320078
1,wittmi01,Mike,Witt,R,R,0,0,0,0,0,...,0.0,NaN,NaN,NaN,NaN,341,PITCHER,1999,0,NaN
2,parrila01,Larry,Parrish,R,R,529,1789,6792,1140,360,...,2.0,NaN,NaN,NaN,NaN,1891,3B,1994,0,0.318102
3,hillejo01,John,Hiller,R,L,3,11,101,10,1,...,0.0,0.0,0.0,1.0,NaN,546,PITCHER,1986,0,0.134615
4,howelro02,Roy,Howell,L,R,318,991,3791,697,183,...,1.0,NaN,NaN,NaN,1.0,1112,3B,1990,0,0.320500

In [7]:
df2["SLG"] = ((df2["singles"]+(df2["doubles"]*2)+df2["triples"]*3)+(df2["hr"]*4))/df2["ab"]

In [8]:
df2["AVG"] = (df2["hits"]/df2["ab"])

In [9]:
df2.head()

,playerID,nameFirst,nameLast,bats,throws,walks,hits,ab,singles,doubles,...,gg,ws_wins,ws_losses,gp,mfp,firstyear,inducted,OBP,SLG,AVG
0,hendeda01,Dave,Henderson,R,R,465,1324,5130,824,286,...,NaN,1.0,3.0,1538,CF,2000,0,0.320078,0.435673,0.258090
1,wittmi01,Mike,Witt,R,R,0,0,0,0,0,...,NaN,NaN,NaN,341,PITCHER,1999,0,NaN,NaN,NaN
2,parrila01,Larry,Parrish,R,R,529,1789,6792,1140,360,...,NaN,NaN,NaN,1891,3B,1994,0,0.318102,0.439193,0.263398
3,hillejo01,John,Hiller,R,L,3,11,101,10,1,...,0.0,1.0,NaN,546,PITCHER,1986,0,0.134615,0.118812,0.108911
4,howelro02,Roy,Howell,L,R,318,991,3791,697,183,...,NaN,NaN,1.0,1112,3B,1990,0,0.320500,0.389343,0.261409

In [10]:
df2.loc[df2["playerID"]=="brettge01"]

,playerID,nameFirst,nameLast,bats,throws,walks,hits,ab,singles,doubles,...,gg,ws_wins,ws_losses,gp,mfp,firstyear,inducted,OBP,SLG,AVG
90,brettge01,George,Brett,L,R,1096,3154,10349,2035,665,...,1.0,1.0,1.0,2707,3B,1999,1,0.369288,0.48739,0.304764

In [11]:
pos = df2.loc[df2["mfp"]!= "PITCHER"]

In [12]:
pos.head()

,playerID,nameFirst,nameLast,bats,throws,walks,hits,ab,singles,doubles,...,gg,ws_wins,ws_losses,gp,mfp,firstyear,inducted,OBP,SLG,AVG
0,hendeda01,Dave,Henderson,R,R,465,1324,5130,824,286,...,NaN,1.0,3.0,1538,CF,2000,0,0.320078,0.435673,0.258090
2,parrila01,Larry,Parrish,R,R,529,1789,6792,1140,360,...,NaN,NaN,NaN,1891,3B,1994,0,0.318102,0.439193,0.263398
4,howelro02,Roy,Howell,L,R,318,991,3791,697,183,...,NaN,NaN,1.0,1112,3B,1990,0,0.320500,0.389343,0.261409
7,sandbry01,Ryne,Sandberg,R,R,761,2386,8385,1625,403,...,9.0,NaN,NaN,2164,2B,2003,1,0.343855,0.451640,0.284556
8,sexsori01,Richie,Sexson,R,R,588,1286,4928,703,260,...,NaN,NaN,1.0,1367,1B,2014,0,0.343683,0.506899,0.260958

In [13]:
pos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388 entries, 0 to 604
Data columns (total 35 columns):
playerID      388 non-null object
nameFirst     388 non-null object
nameLast      388 non-null object
bats          388 non-null object
throws        388 non-null object
walks         388 non-null int64
hits          388 non-null int64
ab            388 non-null int64
singles       388 non-null int64
doubles       388 non-null int64
triples       388 non-null int64
hr            388 non-null int64
hbp           388 non-null int64
sacf          388 non-null int64
runs          388 non-null int64
rbi           388 non-null int64
sb            388 non-null int64
post_ab       342 non-null float64
post_h        342 non-null float64
post_games    342 non-null float64
assists       388 non-null int64
po            388 non-null int64
errors        388 non-null int64
as_games      310 non-null float64
mvp           273 non-null float64
gg            273 non-null float64
ws_wins       204 non-null float64
ws_losses     212 non-null float64
gp            388 non-null int64
mfp           388 non-null object
firstyear     388 non-null int64
inducted      388 non-null int64
OBP           388 non-null float64
SLG           388 non-null float64
AVG           388 non-null float64
dtypes: float64(11), int64(18), object(6)
memory usage: 109.1+ KB

In [14]:
pos.isna().any()

playerID      False
nameFirst     False
nameLast      False
bats          False
throws        False
walks         False
hits          False
ab            False
singles       False
doubles       False
triples       False
hr            False
hbp           False
sacf          False
runs          False
rbi           False
sb            False
post_ab        True
post_h         True
post_games     True
assists       False
po            False
errors        False
as_games       True
mvp            True
gg             True
ws_wins        True
ws_losses      True
gp            False
mfp           False
firstyear     False
inducted      False
OBP           False
SLG           False
AVG           False
dtype: bool

In [15]:
pos.fillna(0, inplace=True)

C:\Users\bb048986\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [16]:
pos.isna().any()

playerID      False
nameFirst     False
nameLast      False
bats          False
throws        False
walks         False
hits          False
ab            False
singles       False
doubles       False
triples       False
hr            False
hbp           False
sacf          False
runs          False
rbi           False
sb            False
post_ab       False
post_h        False
post_games    False
assists       False
po            False
errors        False
as_games      False
mvp           False
gg            False
ws_wins       False
ws_losses     False
gp            False
mfp           False
firstyear     False
inducted      False
OBP           False
SLG           False
AVG           False
dtype: bool

In [17]:
final = pos.drop(columns = ['playerID','nameFirst','nameLast','ab','singles','doubles','triples','hbp','sacf'])

In [18]:
final.head()

,bats,throws,walks,hits,hr,runs,rbi,sb,post_ab,post_h,...,gg,ws_wins,ws_losses,gp,mfp,firstyear,inducted,OBP,SLG,AVG
0,R,R,465,1324,197,710,708,50,121.0,36.0,...,0.0,1.0,3.0,1538,CF,2000,0,0.320078,0.435673,0.258090
2,R,R,529,1789,256,850,992,30,45.0,8.0,...,0.0,0.0,0.0,1891,3B,1994,0,0.318102,0.439193,0.263398
4,L,R,318,991,80,422,454,9,19.0,2.0,...,0.0,0.0,1.0,1112,3B,1990,0,0.320500,0.389343,0.261409
7,R,R,761,2386,282,1318,1061,344,39.0,15.0,...,9.0,0.0,0.0,2164,2B,2003,1,0.343855,0.451640,0.284556
8,R,R,588,1286,306,748,943,14,14.0,1.0,...,0.0,0.0,1.0,1367,1B,2014,0,0.343683,0.506899,0.260958

In [19]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388 entries, 0 to 604
Data columns (total 26 columns):
bats          388 non-null object
throws        388 non-null object
walks         388 non-null int64
hits          388 non-null int64
hr            388 non-null int64
runs          388 non-null int64
rbi           388 non-null int64
sb            388 non-null int64
post_ab       388 non-null float64
post_h        388 non-null float64
post_games    388 non-null float64
assists       388 non-null int64
po            388 non-null int64
errors        388 non-null int64
as_games      388 non-null float64
mvp           388 non-null float64
gg            388 non-null float64
ws_wins       388 non-null float64
ws_losses     388 non-null float64
gp            388 non-null int64
mfp           388 non-null object
firstyear     388 non-null int64
inducted      388 non-null int64
OBP           388 non-null float64
SLG           388 non-null float64
AVG           388 non-null float64
dtypes: float64(11), int64(12), object(3)
memory usage: 81.8+ KB

In [20]:
bats = pd.get_dummies(final['bats'], drop_first=True)
throws = pd.get_dummies(final['throws'], drop_first=True)
mfp = pd.get_dummies(final['mfp'], drop_first=True)

In [21]:
final.drop(columns=['bats','throws','mfp'], inplace=True)

In [22]:
final = pd.concat([final,bats,throws,mfp], axis = 1)

In [23]:
final.head()

,walks,hits,hr,runs,rbi,sb,post_ab,post_h,post_games,assists,...,R,R,2B,3B,CATCHER,CF,DH,LF,RF,SS
0,465,1324,197,710,708,50,121.0,36.0,36.0,99,...,1,1,0,0,0,1,0,0,0,0
2,529,1789,256,850,992,30,45.0,8.0,14.0,1978,...,1,1,0,1,0,0,0,0,0,0
4,318,991,80,422,454,9,19.0,2.0,9.0,1676,...,0,1,0,1,0,0,0,0,0,0
7,761,2386,282,1318,1061,344,39.0,15.0,10.0,6648,...,1,1,1,0,0,0,0,0,0,0
8,588,1286,306,748,943,14,14.0,1.0,9.0,950,...,1,1,0,0,0,0,0,0,0,0

In [24]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388 entries, 0 to 604
Data columns (total 34 columns):
walks         388 non-null int64
hits          388 non-null int64
hr            388 non-null int64
runs          388 non-null int64
rbi           388 non-null int64
sb            388 non-null int64
post_ab       388 non-null float64
post_h        388 non-null float64
post_games    388 non-null float64
assists       388 non-null int64
po            388 non-null int64
errors        388 non-null int64
as_games      388 non-null float64
mvp           388 non-null float64
gg            388 non-null float64
ws_wins       388 non-null float64
ws_losses     388 non-null float64
gp            388 non-null int64
firstyear     388 non-null int64
inducted      388 non-null int64
OBP           388 non-null float64
SLG           388 non-null float64
AVG           388 non-null float64
L             388 non-null uint8
R             388 non-null uint8
R             388 non-null uint8
2B            388 non-null uint8
3B            388 non-null uint8
CATCHER       388 non-null uint8
CF            388 non-null uint8
DH            388 non-null uint8
LF            388 non-null uint8
RF            388 non-null uint8
SS            388 non-null uint8
dtypes: float64(11), int64(12), uint8(11)
memory usage: 76.9 KB

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(final.drop('inducted',axis=1), 
                                                    final['inducted'], test_size=0.30, 
                                                    random_state=101)

In [48]:
from sklearn.linear_model import LogisticRegression

In [65]:
logmodel = LogisticRegression()
logmodel.fit(X_train, y_train)

C:\Users\bb048986\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [66]:
predictions = logmodel.predict(X_test)

In [67]:
from sklearn.metrics import classification_report

In [68]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.95      0.98      0.97       108
           1       0.67      0.44      0.53         9

    accuracy                           0.94       117
   macro avg       0.81      0.71      0.75       117
weighted avg       0.93      0.94      0.93       117

In [69]:
from sklearn.tree import DecisionTreeClassifier

In [70]:
dtree = DecisionTreeClassifier()

In [71]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [72]:
predictions = dtree.predict(X_test)

In [73]:
from sklearn.metrics import classification_report,confusion_matrix

In [75]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.99      0.94      0.97       108
           1       0.57      0.89      0.70         9

    accuracy                           0.94       117
   macro avg       0.78      0.92      0.83       117
weighted avg       0.96      0.94      0.95       117

In [76]:
print(confusion_matrix(y_test,predictions))

[[102   6]
 [  1   8]]

In [77]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators = 100)
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [78]:
rfc_pred = rfc.predict(X_test)

In [79]:
print(confusion_matrix(y_test, rfc_pred))

[[106   2]
 [  2   7]]

In [80]:
print(classification_report(y_test, rfc_pred))

              precision    recall  f1-score   support

           0       0.98      0.98      0.98       108
           1       0.78      0.78      0.78         9

    accuracy                           0.97       117
   macro avg       0.88      0.88      0.88       117
weighted avg       0.97      0.97      0.97       117

In [27]:
from keras.models import Sequential

Using TensorFlow backend.
C:\Users\bb048986\AppData\Local\Continuum\anaconda3\lib\site-packages\requests\__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.2) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [28]:
model = Sequential()

In [29]:
from keras.layers import Dense

In [30]:
model.add(Dense(32, activation='relu', input_dim = 33))
model.add(Dense(16, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))

In [31]:
model.compile(optimizer = 'adam',
             loss = 'binary_crossentropy',
              metrics = ['accuracy'])

WARNING:tensorflow:From C:\Users\bb048986\AppData\Local\Continuum\anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [32]:
model.fit(X_train, y_train, epochs = 200)

WARNING:tensorflow:From C:\Users\bb048986\AppData\Local\Continuum\anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/200
271/271 [==============================] - 0s 1ms/step - loss: 209.1918 - accuracy: 0.5314
Epoch 2/200
271/271 [==============================] - 0s 52us/step - loss: 153.8584 - accuracy: 0.7269
Epoch 3/200
271/271 [==============================] - 0s 50us/step - loss: 98.6889 - accuracy: 0.6679
Epoch 4/200
271/271 [==============================] - 0s 75us/step - loss: 75.5334 - accuracy: 0.4871
Epoch 5/200
271/271 [==============================] - 0s 70us/step - loss: 50.9586 - accuracy: 0.7417
Epoch 6/200
271/271 [==============================] - 0s 99us/step - loss: 33.3932 - accuracy: 0.7343
Epoch 7/200
271/271 [==============================] - 0s 65us/step - loss: 22.3072 - accuracy: 0.7823
Epoch 8/200
271/271 [==============================] - 0s 148us/step - loss: 15.9271 - accuracy: 0.8118
Epoch 9/200
271/271 [==============================] - 0s 109us/step - loss: 11.2031 - accuracy: 0.7934
Epoch 10/200
271/271 [==============================] - 0s 71us/step - loss: 10.6823 - accuracy: 0.8229
Epoch 11/200
271/271 [==============================] - 0s 82us/step - loss: 8.6676 - accuracy: 0.8118
Epoch 12/200
271/271 [==============================] - 0s 80us/step - loss: 6.6717 - accuracy: 0.8266
Epoch 13/200
271/271 [==============================] - 0s 67us/step - loss: 6.4850 - accuracy: 0.8782
Epoch 14/200
271/271 [==============================] - 0s 66us/step - loss: 5.4600 - accuracy: 0.8413
Epoch 15/200
271/271 [==============================] - 0s 64us/step - loss: 5.1677 - accuracy: 0.8450
Epoch 16/200
271/271 [==============================] - 0s 69us/step - loss: 6.1028 - accuracy: 0.8635
Epoch 17/200
271/271 [==============================] - 0s 68us/step - loss: 5.8247 - accuracy: 0.8635
Epoch 18/200
271/271 [==============================] - 0s 69us/step - loss: 5.3559 - accuracy: 0.8708
Epoch 19/200
271/271 [==============================] - 0s 69us/step - loss: 4.8756 - accuracy: 0.8598
Epoch 20/200
271/271 [==============================] - 0s 82us/step - loss: 7.0468 - accuracy: 0.9041
Epoch 21/200
271/271 [==============================] - 0s 97us/step - loss: 6.8309 - accuracy: 0.8561
Epoch 22/200
271/271 [==============================] - 0s 67us/step - loss: 3.6925 - accuracy: 0.8856
Epoch 23/200
271/271 [==============================] - 0s 81us/step - loss: 3.1027 - accuracy: 0.8930
Epoch 24/200
271/271 [==============================] - 0s 129us/step - loss: 5.2250 - accuracy: 0.8635
Epoch 25/200
271/271 [==============================] - 0s 76us/step - loss: 3.7052 - accuracy: 0.8967
Epoch 26/200
271/271 [==============================] - 0s 83us/step - loss: 3.3105 - accuracy: 0.8856
Epoch 27/200
271/271 [==============================] - 0s 65us/step - loss: 2.3119 - accuracy: 0.9004
Epoch 28/200
271/271 [==============================] - 0s 80us/step - loss: 3.0577 - accuracy: 0.9114
Epoch 29/200
271/271 [==============================] - 0s 82us/step - loss: 3.4903 - accuracy: 0.8708
Epoch 30/200
271/271 [==============================] - 0s 67us/step - loss: 2.3145 - accuracy: 0.9041
Epoch 31/200
271/271 [==============================] - 0s 76us/step - loss: 2.2795 - accuracy: 0.9188
Epoch 32/200
271/271 [==============================] - 0s 69us/step - loss: 2.3773 - accuracy: 0.9262
Epoch 33/200
271/271 [==============================] - 0s 76us/step - loss: 1.8396 - accuracy: 0.9262
Epoch 34/200
271/271 [==============================] - 0s 78us/step - loss: 2.7526 - accuracy: 0.8893
Epoch 35/200
271/271 [==============================] - 0s 80us/step - loss: 3.4477 - accuracy: 0.9077
Epoch 36/200
271/271 [==============================] - 0s 108us/step - loss: 1.9125 - accuracy: 0.9041
Epoch 37/200
271/271 [==============================] - 0s 71us/step - loss: 1.8932 - accuracy: 0.9225
Epoch 38/200
271/271 [==============================] - 0s 61us/step - loss: 1.9069 - accuracy: 0.9151
Epoch 39/200
271/271 [==============================] - 0s 96us/step - loss: 1.9537 - accuracy: 0.9262
Epoch 40/200
271/271 [==============================] - 0s 71us/step - loss: 2.0310 - accuracy: 0.9188
Epoch 41/200
271/271 [==============================] - 0s 66us/step - loss: 1.7359 - accuracy: 0.9225
Epoch 42/200
271/271 [==============================] - 0s 67us/step - loss: 2.3071 - accuracy: 0.9077
Epoch 43/200
271/271 [==============================] - 0s 91us/step - loss: 2.7229 - accuracy: 0.9299
Epoch 44/200
271/271 [==============================] - 0s 67us/step - loss: 4.7398 - accuracy: 0.8819
Epoch 45/200
271/271 [==============================] - 0s 77us/step - loss: 2.3268 - accuracy: 0.9114
Epoch 46/200
271/271 [==============================] - 0s 60us/step - loss: 2.1506 - accuracy: 0.9004
Epoch 47/200
271/271 [==============================] - 0s 88us/step - loss: 2.2983 - accuracy: 0.8893
Epoch 48/200
271/271 [==============================] - 0s 81us/step - loss: 2.2712 - accuracy: 0.9225
Epoch 49/200
271/271 [==============================] - 0s 79us/step - loss: 2.0619 - accuracy: 0.9188
Epoch 50/200
271/271 [==============================] - 0s 84us/step - loss: 2.9059 - accuracy: 0.9004
Epoch 51/200
271/271 [==============================] - 0s 78us/step - loss: 2.8500 - accuracy: 0.9077
Epoch 52/200
271/271 [==============================] - 0s 93us/step - loss: 1.5632 - accuracy: 0.9262
Epoch 53/200
271/271 [==============================] - 0s 78us/step - loss: 1.4095 - accuracy: 0.9446
Epoch 54/200
271/271 [==============================] - 0s 75us/step - loss: 1.4886 - accuracy: 0.9336
Epoch 55/200
271/271 [==============================] - 0s 64us/step - loss: 1.0643 - accuracy: 0.9410
Epoch 56/200
271/271 [==============================] - 0s 69us/step - loss: 1.6009 - accuracy: 0.9336
Epoch 57/200
271/271 [==============================] - 0s 77us/step - loss: 1.2859 - accuracy: 0.9188
Epoch 58/200
271/271 [==============================] - 0s 72us/step - loss: 2.3801 - accuracy: 0.8930
Epoch 59/200
271/271 [==============================] - 0s 74us/step - loss: 1.8127 - accuracy: 0.9446
Epoch 60/200
271/271 [==============================] - 0s 69us/step - loss: 0.9905 - accuracy: 0.9446
Epoch 61/200
271/271 [==============================] - 0s 71us/step - loss: 2.2073 - accuracy: 0.9114
Epoch 62/200
271/271 [==============================] - 0s 86us/step - loss: 2.2395 - accuracy: 0.9151
Epoch 63/200
271/271 [==============================] - 0s 77us/step - loss: 2.3806 - accuracy: 0.9114
Epoch 64/200
271/271 [==============================] - 0s 78us/step - loss: 4.8870 - accuracy: 0.8967
Epoch 65/200
271/271 [==============================] - 0s 99us/step - loss: 4.0675 - accuracy: 0.8782
Epoch 66/200
271/271 [==============================] - 0s 73us/step - loss: 3.6202 - accuracy: 0.8893
Epoch 67/200
271/271 [==============================] - 0s 66us/step - loss: 3.0568 - accuracy: 0.9188
Epoch 68/200
271/271 [==============================] - 0s 79us/step - loss: 2.6447 - accuracy: 0.9225
Epoch 69/200
271/271 [==============================] - 0s 64us/step - loss: 4.4110 - accuracy: 0.9336
Epoch 70/200
271/271 [==============================] - 0s 68us/step - loss: 3.6445 - accuracy: 0.8930
Epoch 71/200
271/271 [==============================] - 0s 68us/step - loss: 4.0390 - accuracy: 0.9041
Epoch 72/200
271/271 [==============================] - 0s 67us/step - loss: 3.6777 - accuracy: 0.9151
Epoch 73/200
271/271 [==============================] - 0s 62us/step - loss: 2.9467 - accuracy: 0.9041
Epoch 74/200
271/271 [==============================] - 0s 100us/step - loss: 2.5269 - accuracy: 0.9373
Epoch 75/200
271/271 [==============================] - 0s 65us/step - loss: 2.7385 - accuracy: 0.9114
Epoch 76/200
271/271 [==============================] - 0s 98us/step - loss: 2.1765 - accuracy: 0.9151
Epoch 77/200
271/271 [==============================] - 0s 81us/step - loss: 2.8162 - accuracy: 0.9262
Epoch 78/200

271/271 [==============================] - 0s 89us/step - loss: 1.8491 - accuracy: 0.9373
Epoch 79/200
271/271 [==============================] - 0s 67us/step - loss: 2.0106 - accuracy: 0.9225
Epoch 80/200
271/271 [==============================] - 0s 64us/step - loss: 3.2380 - accuracy: 0.9041
Epoch 81/200
271/271 [==============================] - 0s 59us/step - loss: 3.9216 - accuracy: 0.8967
Epoch 82/200
271/271 [==============================] - 0s 82us/step - loss: 3.0761 - accuracy: 0.9225
Epoch 83/200
271/271 [==============================] - 0s 58us/step - loss: 2.2754 - accuracy: 0.9410
Epoch 84/200
271/271 [==============================] - 0s 63us/step - loss: 1.0393 - accuracy: 0.9483
Epoch 85/200
271/271 [==============================] - 0s 43us/step - loss: 0.6322 - accuracy: 0.9742
Epoch 86/200
271/271 [==============================] - 0s 77us/step - loss: 1.4951 - accuracy: 0.9336
Epoch 87/200
271/271 [==============================] - 0s 74us/step - loss: 0.8691 - accuracy: 0.9483
Epoch 88/200
271/271 [==============================] - 0s 71us/step - loss: 1.3715 - accuracy: 0.9631
Epoch 89/200
271/271 [==============================] - 0s 86us/step - loss: 1.2285 - accuracy: 0.9557
Epoch 90/200
271/271 [==============================] - 0s 62us/step - loss: 0.7105 - accuracy: 0.9594
Epoch 91/200
271/271 [==============================] - 0s 98us/step - loss: 1.3082 - accuracy: 0.9446
Epoch 92/200
271/271 [==============================] - 0s 83us/step - loss: 0.9499 - accuracy: 0.9631
Epoch 93/200
271/271 [==============================] - 0s 69us/step - loss: 1.3180 - accuracy: 0.9373
Epoch 94/200
271/271 [==============================] - 0s 71us/step - loss: 1.3192 - accuracy: 0.9483
Epoch 95/200
271/271 [==============================] - 0s 78us/step - loss: 1.1135 - accuracy: 0.9631
Epoch 96/200
271/271 [==============================] - 0s 73us/step - loss: 0.6784 - accuracy: 0.9631
Epoch 97/200
271/271 [==============================] - 0s 72us/step - loss: 3.0228 - accuracy: 0.9077
Epoch 98/200
271/271 [==============================] - 0s 72us/step - loss: 2.3395 - accuracy: 0.9188
Epoch 99/200
271/271 [==============================] - 0s 77us/step - loss: 1.5135 - accuracy: 0.9299
Epoch 100/200
271/271 [==============================] - 0s 68us/step - loss: 2.4276 - accuracy: 0.9262
Epoch 101/200
271/271 [==============================] - 0s 73us/step - loss: 1.7900 - accuracy: 0.9520
Epoch 102/200
271/271 [==============================] - 0s 63us/step - loss: 1.3084 - accuracy: 0.9410
Epoch 103/200
271/271 [==============================] - 0s 63us/step - loss: 0.8589 - accuracy: 0.9483
Epoch 104/200
271/271 [==============================] - 0s 73us/step - loss: 0.7002 - accuracy: 0.9594
Epoch 105/200
271/271 [==============================] - 0s 77us/step - loss: 1.1204 - accuracy: 0.9446
Epoch 106/200
271/271 [==============================] - 0s 71us/step - loss: 1.4672 - accuracy: 0.9225
Epoch 107/200
271/271 [==============================] - 0s 54us/step - loss: 1.6633 - accuracy: 0.9520
Epoch 108/200
271/271 [==============================] - 0s 82us/step - loss: 0.7197 - accuracy: 0.9594
Epoch 109/200
271/271 [==============================] - 0s 49us/step - loss: 0.7364 - accuracy: 0.9594
Epoch 110/200
271/271 [==============================] - 0s 60us/step - loss: 0.6037 - accuracy: 0.9594
Epoch 111/200
271/271 [==============================] - 0s 54us/step - loss: 0.7662 - accuracy: 0.9594
Epoch 112/200
271/271 [==============================] - 0s 46us/step - loss: 0.4831 - accuracy: 0.9705
Epoch 113/200
271/271 [==============================] - 0s 54us/step - loss: 2.8667 - accuracy: 0.9262
Epoch 114/200
271/271 [==============================] - 0s 53us/step - loss: 1.2902 - accuracy: 0.9446
Epoch 115/200
271/271 [==============================] - 0s 59us/step - loss: 1.3360 - accuracy: 0.9483
Epoch 116/200
271/271 [==============================] - 0s 66us/step - loss: 2.0483 - accuracy: 0.9262
Epoch 117/200
271/271 [==============================] - 0s 60us/step - loss: 3.6936 - accuracy: 0.9004
Epoch 118/200
271/271 [==============================] - 0s 50us/step - loss: 2.4847 - accuracy: 0.9336
Epoch 119/200
271/271 [==============================] - 0s 82us/step - loss: 3.0500 - accuracy: 0.9446
Epoch 120/200
271/271 [==============================] - 0s 56us/step - loss: 2.2293 - accuracy: 0.9225
Epoch 121/200
271/271 [==============================] - 0s 56us/step - loss: 1.6049 - accuracy: 0.9410
Epoch 122/200
271/271 [==============================] - 0s 41us/step - loss: 1.1582 - accuracy: 0.9373
Epoch 123/200
271/271 [==============================] - 0s 81us/step - loss: 0.6173 - accuracy: 0.9668
Epoch 124/200
271/271 [==============================] - 0s 63us/step - loss: 1.0388 - accuracy: 0.9373
Epoch 125/200
271/271 [==============================] - 0s 37us/step - loss: 0.7926 - accuracy: 0.9520
Epoch 126/200
271/271 [==============================] - 0s 69us/step - loss: 1.1693 - accuracy: 0.9410
Epoch 127/200
271/271 [==============================] - 0s 67us/step - loss: 1.8453 - accuracy: 0.9373
Epoch 128/200
271/271 [==============================] - 0s 72us/step - loss: 0.9404 - accuracy: 0.9631
Epoch 129/200
271/271 [==============================] - 0s 57us/step - loss: 0.8523 - accuracy: 0.9520
Epoch 130/200
271/271 [==============================] - 0s 51us/step - loss: 0.5110 - accuracy: 0.9594
Epoch 131/200
271/271 [==============================] - 0s 53us/step - loss: 1.6464 - accuracy: 0.9410
Epoch 132/200
271/271 [==============================] - 0s 54us/step - loss: 2.6509 - accuracy: 0.9077
Epoch 133/200
271/271 [==============================] - 0s 53us/step - loss: 1.4132 - accuracy: 0.9410
Epoch 134/200
271/271 [==============================] - 0s 80us/step - loss: 2.1676 - accuracy: 0.9225
Epoch 135/200
271/271 [==============================] - 0s 63us/step - loss: 2.7147 - accuracy: 0.9077
Epoch 136/200
271/271 [==============================] - 0s 63us/step - loss: 3.1345 - accuracy: 0.9077
Epoch 137/200
271/271 [==============================] - 0s 86us/step - loss: 1.4704 - accuracy: 0.9446
Epoch 138/200
271/271 [==============================] - 0s 65us/step - loss: 0.5137 - accuracy: 0.9631
Epoch 139/200
271/271 [==============================] - 0s 70us/step - loss: 0.7955 - accuracy: 0.9779
Epoch 140/200
271/271 [==============================] - 0s 58us/step - loss: 2.2098 - accuracy: 0.9262
Epoch 141/200
271/271 [==============================] - 0s 61us/step - loss: 2.3746 - accuracy: 0.9151
Epoch 142/200
271/271 [==============================] - 0s 41us/step - loss: 3.1946 - accuracy: 0.9041
Epoch 143/200
271/271 [==============================] - 0s 57us/step - loss: 3.6476 - accuracy: 0.9114
Epoch 144/200
271/271 [==============================] - 0s 59us/step - loss: 1.4867 - accuracy: 0.9483
Epoch 145/200
271/271 [==============================] - 0s 68us/step - loss: 1.3445 - accuracy: 0.9557
Epoch 146/200
271/271 [==============================] - 0s 65us/step - loss: 1.1673 - accuracy: 0.9483
Epoch 147/200
271/271 [==============================] - 0s 66us/step - loss: 0.5723 - accuracy: 0.9705
Epoch 148/200
271/271 [==============================] - 0s 80us/step - loss: 0.7855 - accuracy: 0.9668
Epoch 149/200
271/271 [==============================] - 0s 71us/step - loss: 0.7635 - accuracy: 0.9668
Epoch 150/200
271/271 [==============================] - 0s 69us/step - loss: 1.4611 - accuracy: 0.9446
Epoch 151/200
271/271 [==============================] - 0s 50us/step - loss: 0.8477 - accuracy: 0.9446
Epoch 152/200
271/271 [==============================] - 0s 28us/step - loss: 1.3508 - accuracy: 0.9373
Epoch 153/200
271/271 [==============================] - ETA: 0s - loss: 8.9929e-07 - accuracy: 1.00 - 0s 45us/step - loss: 1.5379 - accuracy: 0.9483
Epoch 154/200
271/271 [==============================] - 0s 55us/step - loss: 1.0406 - accuracy: 0.9520
Epoch 155/200
271/271 [==============================] - 0s 48us/step - loss: 0.7870 - accuracy: 0.9557
Epoch 156/200

271/271 [==============================] - 0s 56us/step - loss: 0.5362 - accuracy: 0.9520
Epoch 157/200
271/271 [==============================] - 0s 47us/step - loss: 1.1244 - accuracy: 0.9483
Epoch 158/200
271/271 [==============================] - 0s 80us/step - loss: 0.7962 - accuracy: 0.9520
Epoch 159/200
271/271 [==============================] - 0s 85us/step - loss: 1.1472 - accuracy: 0.9410
Epoch 160/200
271/271 [==============================] - 0s 78us/step - loss: 1.9232 - accuracy: 0.9262
Epoch 161/200
271/271 [==============================] - 0s 66us/step - loss: 0.8199 - accuracy: 0.9557
Epoch 162/200
271/271 [==============================] - 0s 92us/step - loss: 0.9048 - accuracy: 0.9705
Epoch 163/200
271/271 [==============================] - 0s 65us/step - loss: 0.5145 - accuracy: 0.9668
Epoch 164/200
271/271 [==============================] - 0s 62us/step - loss: 0.9168 - accuracy: 0.9594
Epoch 165/200
271/271 [==============================] - 0s 47us/step - loss: 0.7754 - accuracy: 0.9557
Epoch 166/200
271/271 [==============================] - 0s 78us/step - loss: 0.5856 - accuracy: 0.9705
Epoch 167/200
271/271 [==============================] - 0s 73us/step - loss: 0.5456 - accuracy: 0.9631
Epoch 168/200
271/271 [==============================] - 0s 66us/step - loss: 0.8251 - accuracy: 0.9446
Epoch 169/200
271/271 [==============================] - 0s 67us/step - loss: 2.2371 - accuracy: 0.9446
Epoch 170/200
271/271 [==============================] - 0s 65us/step - loss: 1.1644 - accuracy: 0.9410
Epoch 171/200
271/271 [==============================] - 0s 63us/step - loss: 1.3462 - accuracy: 0.9483
Epoch 172/200
271/271 [==============================] - 0s 91us/step - loss: 1.0144 - accuracy: 0.9520
Epoch 173/200
271/271 [==============================] - 0s 66us/step - loss: 1.9222 - accuracy: 0.9114
Epoch 174/200
271/271 [==============================] - 0s 52us/step - loss: 2.7069 - accuracy: 0.9225
Epoch 175/200
271/271 [==============================] - 0s 81us/step - loss: 1.4410 - accuracy: 0.9336
Epoch 176/200
271/271 [==============================] - 0s 61us/step - loss: 1.3357 - accuracy: 0.9410
Epoch 177/200
271/271 [==============================] - 0s 67us/step - loss: 2.4257 - accuracy: 0.9151
Epoch 178/200
271/271 [==============================] - 0s 54us/step - loss: 1.3000 - accuracy: 0.9557
Epoch 179/200
271/271 [==============================] - 0s 94us/step - loss: 0.5993 - accuracy: 0.9631
Epoch 180/200
271/271 [==============================] - 0s 78us/step - loss: 0.4547 - accuracy: 0.9779
Epoch 181/200
271/271 [==============================] - 0s 48us/step - loss: 0.4561 - accuracy: 0.9815
Epoch 182/200
271/271 [==============================] - 0s 65us/step - loss: 1.2853 - accuracy: 0.9594
Epoch 183/200
271/271 [==============================] - 0s 55us/step - loss: 1.5299 - accuracy: 0.9483
Epoch 184/200
271/271 [==============================] - 0s 46us/step - loss: 0.6736 - accuracy: 0.9668
Epoch 185/200
271/271 [==============================] - 0s 64us/step - loss: 0.5543 - accuracy: 0.9705
Epoch 186/200
271/271 [==============================] - 0s 62us/step - loss: 0.8276 - accuracy: 0.9668
Epoch 187/200
271/271 [==============================] - 0s 69us/step - loss: 0.4000 - accuracy: 0.9742
Epoch 188/200
271/271 [==============================] - 0s 77us/step - loss: 1.6202 - accuracy: 0.9446
Epoch 189/200
271/271 [==============================] - 0s 60us/step - loss: 0.3185 - accuracy: 0.9815
Epoch 190/200
271/271 [==============================] - 0s 63us/step - loss: 1.0276 - accuracy: 0.9594
Epoch 191/200
271/271 [==============================] - 0s 57us/step - loss: 0.6156 - accuracy: 0.9742
Epoch 192/200
271/271 [==============================] - 0s 58us/step - loss: 0.6498 - accuracy: 0.9594
Epoch 193/200
271/271 [==============================] - 0s 64us/step - loss: 3.0811 - accuracy: 0.9188
Epoch 194/200
271/271 [==============================] - 0s 63us/step - loss: 4.2868 - accuracy: 0.9151
Epoch 195/200
271/271 [==============================] - 0s 64us/step - loss: 2.9678 - accuracy: 0.9299
Epoch 196/200
271/271 [==============================] - 0s 63us/step - loss: 3.0222 - accuracy: 0.9225
Epoch 197/200
271/271 [==============================] - 0s 59us/step - loss: 1.3758 - accuracy: 0.9410
Epoch 198/200
271/271 [==============================] - 0s 59us/step - loss: 5.8620 - accuracy: 0.9188
Epoch 199/200
271/271 [==============================] - 0s 61us/step - loss: 1.7121 - accuracy: 0.9373
Epoch 200/200
271/271 [==============================] - 0s 70us/step - loss: 1.9188 - accuracy: 0.9336

In [33]:
scores = model.evaluate(X_train, y_train)
print(scores[1]*100)

271/271 [==============================] - 0s 136us/step
95.5719530582428

In [34]:
scores2 = model.evaluate(X_test, y_test)
print(scores2[1]*100)

117/117 [==============================] - 0s 90us/step
91.45299196243286

In [39]:
nn_pred = model.predict_classes(X_test)

In [35]:
from sklearn.metrics import confusion_matrix

In [40]:
print(confusion_matrix(y_test, nn_pred))

[[100   8]
 [  2   7]]

In [41]:
y_test.head()

64     0
285    0
252    0
153    0
185    0
Name: inducted, dtype: int64

In [44]:
X_test.head()

,walks,hits,hr,runs,rbi,sb,post_ab,post_h,post_games,assists,...,R,2B,3B,CATCHER,CF,DH,LF,RF,SS,inducted
64,571,1699,242,806,904,37,65.0,16.0,25.0,921,...,1,0,0,0,0,0,0,0,0,0
285,353,1502,53,604,594,80,0.0,0.0,0.0,3836,...,1,1,0,0,0,0,0,0,0,0
252,651,2156,294,1076,1236,94,75.0,17.0,21.0,108,...,1,0,0,0,0,0,0,1,0,0
153,418,1453,162,638,745,23,89.0,25.0,25.0,651,...,1,0,0,1,0,0,0,0,0,0
185,412,2006,160,912,886,178,150.0,32.0,42.0,6629,...,1,1,0,0,0,0,0,0,0,0

In [42]:
merged = X_test['inducted']=(y_test)

In [46]:
X_test['prediction']=(nn_pred)

In [47]:
X_test.head()

,walks,hits,hr,runs,rbi,sb,post_ab,post_h,post_games,assists,...,2B,3B,CATCHER,CF,DH,LF,RF,SS,inducted,prediction
64,571,1699,242,806,904,37,65.0,16.0,25.0,921,...,0,0,0,0,0,0,0,0,0,0
285,353,1502,53,604,594,80,0.0,0.0,0.0,3836,...,1,0,0,0,0,0,0,0,0,0
252,651,2156,294,1076,1236,94,75.0,17.0,21.0,108,...,0,0,0,0,0,0,1,0,0,0
153,418,1453,162,638,745,23,89.0,25.0,25.0,651,...,0,0,1,0,0,0,0,0,0,0
185,412,2006,160,912,886,178,150.0,32.0,42.0,6629,...,1,0,0,0,0,0,0,0,0,0

In [48]:
X_test['playerID']=(df['playerID'])

In [51]:
X_test['nameFirst']=(df['nameFirst'])
X_test['nameLast']=(df['nameLast'])

In [49]:
X_test.head()

,walks,hits,hr,runs,rbi,sb,post_ab,post_h,post_games,assists,...,3B,CATCHER,CF,DH,LF,RF,SS,inducted,prediction,playerID
64,571,1699,242,806,904,37,65.0,16.0,25.0,921,...,0,0,0,0,0,0,0,0,0,huffau01
285,353,1502,53,604,594,80,0.0,0.0,0.0,3836,...,0,0,0,0,0,0,0,0,0,rayjo01
252,651,2156,294,1076,1236,94,75.0,17.0,21.0,108,...,0,0,0,0,0,1,0,0,0,ordonma01
153,418,1453,162,638,745,23,89.0,25.0,25.0,651,...,0,1,0,0,0,0,0,0,0,steinte01
185,412,2006,160,912,886,178,150.0,32.0,42.0,6629,...,0,0,0,0,0,0,0,0,0,whitefr01

In [52]:
X_test.to_csv("Data//player_predictions.csv")